*{
    margin-top: 1mm;
}

h1, h2, h3{
    font-family: "Lucida Handwriting"; /*this font is fun cursive*/
    text-align: center;
    display: block;
}

header{
    position: sticky;
    top: 20px;
}

ol, ul{
    border-style: solid; /*putting a fun blue border around the lists*/
    border-color: blue;
    border-width: 3px;
    border-radius: 10px;
    background-color: rgba(255,0,0,0.7);
    display: inline-block;
    padding-right: 25px;
    text-align: center;
    position: static;
}

li ~ li{
    font-size: 12px;
}

div:has(> *){
    padding: 5px 5px 5px 5px;
}

details{
    font-size: 20px;
}

a:active{
    background-color: var(--bright-yellow,yellow);
}

/*this link is red because it is for a pomodoro timer which is based off the word tomato*/
a[href="https://en.wikipedia.org/wiki/Pomodoro_Technique"]{
    color: red; 
}

details:hover{
    color: purple;
}

#whiteboard_video{
    display: block;
    height: 9 cm;
    max-height: 25%;
    width: 16 cm;
    max-width: 25%;
}

fieldset > *{
    margin: 3px 3px 3px 3px;
}

span i{
    text-decoration: blue wavy underline;
}

/*.people is flexbox container for list of people
.media is the flexbox container for the whiteboard video and audio*/
.people, div.media{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

/*using a grid layout for the second section of the website*/
.second_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: lightblue;
    padding: 1em 1em 1em 1em;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.second_section > *{
    border-color: lightcoral;
    border-style: solid;
}

#first{
    color: color(display-p3 80% 40% 10%);
}

#joke_form{
    text-align: center;
}

video + audio{
    margin-top: 10px;
}

@media (max-width: 1250px){
    & #whiteboard_video{
        display: block;
        height: 4.5 cm;
        max-height: 40%;
        width: 8 cm;
        max-width: 40%;
    }
}